
#root {
  background-color: #19161B;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: white;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


.header__container {
  display: flex;
  align-items: center;
  padding: 0px 10.13%;
  background-color: #19161B;
  height: 80px;
}

.header__container img {
  height: 20px;
}

.header__menu {
  margin-left: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.header__menu a {
  padding: 0 19px;
}

.footer__container {
  padding: 160px 0 0;
  margin-top: -3px;
  background-color: #19161B;
}

.footer__logo {
  padding-bottom: 44px;
  margin: 0px auto;
}

.footer__menu {
  display: flex;
  justify-content: center;
  padding: 0 10.13%;
}

.footer__link {
  padding: 0 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.footer__line {
  opacity: 0.07;
  border: 1px solid #FFFFFF;
  margin-top: 32px;
}

.footer__submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 71px;
}

.footer__date {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #B8B8B8;
  margin-left: 25px;
  width: 115px;
}

.footer__social {
  display: flex;
  margin: 0px auto;
}

.footer__social img {
  margin: 0 24px;
}

.footer__social img:last-child {
  width: 25px;
  position: relative;
  top: 3.5px;
}

.footer__contacts {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 25px;
  width: 115px;

}

.footer__contacts::after {
  content: url('.././public/design/Arrow.svg');
  margin-left: 4px;
}

.main__container {
  background-color: #19161B;
  padding: 0px 10.13%;
  min-height: calc(100vh - 80px - 350px);
}

.first__container {
  padding: 96px 0 160px;

}

.first__flex {
  display: flex;
}

.first__text {
  flex-basis: 49%;
  align-self: center;
  margin-right: 1%;
}

.first__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #FFFFFF;
  opacity: 0.87;
  z-index: 0;
}

.first__subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  margin-top: 16px;
  padding-right: 10px;
}

.ButtonBlackArrow {
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2E2D33;
  background-color: #FFB577;
  width: 164px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 40px;
}

.ButtonBlackArrow::after {
  content: url('.././public/design/ArrowBlack.svg');
  margin-left: 9px;
}

.first__list {
  margin-top: 40px;
}

.first__item:nth-child(2) {
  margin: 20px 0;
}

.first__item-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.first__item-subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.6;
}

.first__img {
  flex-basis: 49%;
}


.service__container {
  padding-bottom: 160px;

}

.service__questions {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFB577;
  width: auto;
}

.service__questions::after {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 1px;
  position: relative;
  background-color: #FFFFFF;
  margin-right: -100%;
  right: -16px;
}

.service__text {
  display: flex;
  margin: 24px 0 64px;

}

.service__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  opacity: 0.87;
  flex-basis: 55%;
  padding-right: 20px;
}

.service__info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  flex-basis: 45%;
}

.service__grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  grid-template-columns: repeat(3, 33.33333%);
  background-color: rgba(0, 0, 0, 0.16);
  max-width: 1280px;
  margin: 0px auto;
}

.item {
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 60px 35px;
  margin: 0px auto;
  /* width: 33.33333%; */
}

.item__image {
  margin-bottom: 24px;
}

.item__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}

.item__text {
  max-width: 355px;
  margin-top: 12px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
}

.scheme__questions {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFB577;
  width: auto;
}

.scheme__questions::after {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 1px;
  position: relative;
  background-color: #FFFFFF;
  margin-right: -100%;
  right: -16px;
}

.scheme__text {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 32px;
}

.scheme__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  flex: 0 1 35.16%;
}

.scheme__info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  flex: 0 1 38.98%;
}

.scheme__popular {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #C4E4EA;
  padding-bottom: 83px;
}

.scheme__grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  grid-template-columns: repeat(3, 33.33333%);
  gap: 10px;
  padding-bottom: 8px;
}

.food {
  margin: 0px auto;
}

.food__flex {
  display: flex;
  background-color: #1F1D21;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 25px;
  width: 100%;
}

.food__name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.87;
}

.food__price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  opacity: 0.87;
}

.scheme__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}

.description {
  width: 125%;
  margin-left: -12.3%;

}

.description__container {
  display: flex;
  align-items: flex-start;

}

.description__info {
  background-color: #1F1D21;
  flex-basis: 40%;
  padding: 0 4.88% 0 10%;
}

.description__quotes {
  font-size: 72px;
  line-height: 92px;
  color: #FFFFFF;
  padding-top: 43px;
}

.description__text {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
  color: #FFFFFF;
  opacity: 0.87;

}

.description__comment {
  display: flex;
  justify-content: space-between;
  padding: 68px 0 84px;
}

.description__user {
  display: flex;
  flex-direction: column;
}

.description__name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.87;
}

.description__city {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.6;
}


.description__video {
  flex-basis: 60%;
  background-color: #1F1D21;
}

.post {
  margin-bottom: 160px;
}


.posts__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  margin: 160px 0 64px;
}

.posts__body {
  display: flex;
  padding-bottom: 160px;
}


.posts__item {
  background-color: #1F1D21;
}

.posts__item:nth-child(2) {
  margin: 0 2.34%;
}

.posts__date {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #B8B8B8;
  padding: 32px 0 8px 7.87%;
}

.posts__name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #FFFFFF;
  opacity: 0.87;
  padding: 0 5px 16px 7.87%;
  min-height: 130px;
}

.posts__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  padding: 0 20px 32px 7.87%;
}

.posts__img {
  margin-top: 22px;
}

.map__body {
  display: flex;
}

.map__info {
  background-color: #1F1D21;
  flex: 1 1 auto;
  padding-left: 5.02%;
  padding-top: 80px;
  padding-bottom: 102px;
}

.map__item:nth-child(2) {
  padding: 32px 0;
}


.map__name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.map__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  padding-top: 7px;
}

.map__map {
  flex-basis: 65.6%;
}

.menu__container {
  padding-top: 96px;
}

.carte__container {
  display: grid;
  grid-template-columns: repeat(3, 33.33333%);
  gap: 7px;
}

.carte {
  padding: 144px 0 160px;
}

.carteItem {
  margin: 0px auto;
}

.carteItem__flex {
  display: flex;
  background-color: #1F1D21;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 25px;
}

.carteItem__name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.87;
}



.carteItem__price {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  opacity: 0.87;
}

.filters__container {
  display: flex;

}

.filters__item {
  padding: 0 16px;
  cursor: pointer;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 64px;
}

.filters__item:first-child {
  padding-left: 12px;
}

.filters__item--active {
  color: white;
  opacity: 1;
}

.aboutheader__container {
  display: flex;
  padding-top: 96px;
  position: relative;
  align-items: flex-start;
}

.aboutheader__epigraph {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFB577;
  margin-bottom: 24px;
}

.aboutheader__epigraph::after {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 1px;
  position: relative;
  background-color: #FFFFFF;
  margin-right: -100%;
  right: -16px;
}

.aboutheader__left {
  flex-basis: 49.5%;
  margin-right: 15px;
}

.aboutheader__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  margin-bottom: 32px;
}


.aboutheader__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  margin-bottom: 40px;
}

.aboutheader__command {
  display: flex;
}

.aboutheader__name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #C4E4EA;

}


.aboutheader__name::before {
  content: url('../public/design/about-icon.svg');
  padding-right: 7px;
}

.aboutheader__subdescription {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  margin-bottom: 15px;
}

.aboutheader__description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
}



.aboutheader__img1 {
  margin: 110px 64px 0 0;
}

.aboutheader__img2 {
  height: 82%;
}

@media (max-width:1120px) {
  .aboutheader__img2 {
    display: none;
  }

  .aboutheader__img1 {
    margin: 0px auto;
  }


}

.aboutbackground {
  background: url('.././public/design/aboutBG.png'), url('.././public/design/BG.png');
  height: 500px;
  padding: 124px 0 0 6.25%;
  margin-top: 160px;
}

.aboutbackground__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}

.aboutbackground__title span {
  color: #FFC492;
}

.aboutbackground__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  max-width: 430px;
  margin-top: 24px;
}

.history {
  background-color: rgba(255, 255, 255, 0.03);
  padding: 80px;
}

.history__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 70px;
}

.history__body {
  display: flex;
  border-top: 2px dashed rgba(255, 255, 255, 0.15);
}

.history__item {
  margin: 0 22px;
  position: relative;
}

.history__item::before {
  content: '';
  width: 28px;
  height: 5px;
  background-color: #FFB577;
  position: absolute;
  top: -4px;
  left: 0;
}

.history__item:last-child {
  margin-right: 0;
}

.history__item:first-child {
  margin-left: 0;
}

.history__year {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  margin-top: 34px;
}

.history__name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 16px 0;
}

.history__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
}

.info {
  display: flex;
  padding: 160px 0;
}

.info__name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  opacity: 0.87;
  flex: 0 0 44.06%;
  margin-right: 9.06%;
}

.info__body {
  flex: 1 0 40%;
  margin-right: 3.91%;
}

.info__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  opacity: 0.87;
}

.info__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
}

.story__container {
  display: flex;
  padding-bottom: 160px;
}

.story__left {
  flex: 1 0 32%;
}

.story__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #FFFFFF;
}

.story__subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  margin: 24px 0 32px;
  padding-right: 25px;

}

.story__images {
  display: flex;
}

.story__images img:first-child {
  margin-top: 40px;
}

.story__images img:last-child {
  margin-left: auto;
  height: 82%;
}

@media (max-width:1440px) {
  .story__images img:last-child {
    display: none;
  }

  .story__images img:first-child {
    margin-right: auto;
    margin-top: 0;
  }


}

.story__right {
  flex: 1 0 46.72%;
  padding-left: 8.83%;
}

.story__name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}

.story__name span {
  color: #FFC492;
}

.story__info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  padding-right: 9.38%;

}

.story__info:nth-child(2) {
  margin: 24px 0 16px;
}

.contact__container {
  display: flex;
  padding: 96px 0 160px;
  align-items: flex-start;
}

.contact__left {
  flex-basis: 49.02%;
}

.contact__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
  opacity: 0.87;
}

.contact__subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.6;
  margin: 24px 0 40px;
}

.contact__form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  margin-right: 35px;
}

.contact__form input {
  background-color: #19161B;
  height: 56px;
  color: white;
  padding-left: 32px;
  border: 0.5px solid #221f24;
}

.contact__form input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.contact__form textarea {
  background-color: #19161B;
  grid-column: 1/3;
  padding-left: 32px;
  border: 0.5px solid #221f24;
  color: white;
  padding-top: 14px;
}

.contact__form textarea::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;

}

.contact__submit {
  width: 213px;
  height: 64px;
  background-color: #27252D;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.87;
  margin-top: 32px;
  border: none;
}

.contact__submit::after {
  content: url('../public/design/Arrow.svg');
  margin-left: 9px;

}


.contact__img1 {
  margin: 40px 5.02% 0 0;
  min-width: 0;
}

.contact__img2 {
  height: 92%;
  min-width: 0;
}

.blog__maintitile {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  padding: 96px 0 64px;
}

.blog__container {
  display: flex;
}

.blog__left {
  background-image: url('../public/design/BGBlog.png');
  background-repeat: no-repeat;
  padding: 236px 5% 0;
  height: 496px;
  flex-basis: 49%;
  position: relative;
}

.blog__window {
  background: rgba(255, 196, 146, 0.47);
  backdrop-filter: blur(9.5px);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 25.44%;
  height: 52px;
  color: #FFFFFF;
}

.blog__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  padding-right: 50px;
}

.blog__row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.blog__author {
  display: flex;

}

.blog__col {
  padding-left: 16px;
}

.blog__name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.87;
}

.blog__data {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.6;
}

.blog__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.87;
  align-self: center;
}

.blog__link::after {
  content: url('.././public/design/Arrow.svg');
  margin-left: 16px;
}

.blog__right {
  padding-left: 32px;
  flex-basis: 44%;
  display: flex;
  flex-shrink: 1;
  flex-direction: column-reverse;
}

.blog__item {
  display: flex;
  align-items: flex-start;
}

.blog__item:nth-child(2) {
  margin: 32px 0;
}

.blog__info {
  padding-left: 32px;
}

.blog__subtitle {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.87;
}

.blog__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B8B8B8;
  margin-top: 16px;
}

.articles__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.87;
  margin: 160px 0 64px;
}

.articles__container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 3%;
  row-gap: 40px;
  margin-bottom: 120px;

}

.articlesitem__container {
  display: flex;
  align-items: flex-start;
}

.articlesitem__info {
  padding-left: 41px;
}

.articlesitem__author {
  display: flex;
}

.articlesitem__info {
  padding-left: 16px;
}

.articlesitem__name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.87;
}

.articlesitem__date {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.6;
}

.articlesitem__title {
  margin: 24px 0;
  max-width: 85%;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.87;
}

.articlesitem__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.articlesitem__link::after {
  content: url('.././public/design/Arrow.svg');
  margin-left: 9px;
  vertical-align: middle;
}

.post__author {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  padding-top: 95px;
}

.post__name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.87;
  margin: 0 24px 0 12px;
}

.post__date {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.6;
}

.post__mainimg {
  width: 30%;
  margin: 0px auto;
}

.post__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #FFFFFF;
  margin: 32px 0 80px;
}

.post__line {
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.post__text {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  opacity: 0.87;
  width: 60%;
  margin: 80px auto 0;
}

.post__btn {
  background: rgba(255, 196, 146, 0.47);
  -webkit-backdrop-filter: blur(9.5px);
  backdrop-filter: blur(9.5px);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 3px;
  text-transform: uppercase;
  width: 10%;
  height: 52px;
  color: #FFFFFF;
}


.navbar {
  height: 50px;
  
  width: auto;
  background-color: #19161B;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}

.burger-btn {
  width: 30px;
  height: 25px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  z-index: 51;
}

.burger-btn span {
  position: absolute;
  top: 12px;
  width: 30px;
  background-color: #FFB577;
  height: 3.5px;
}

.burger-btn::after {
  content: ' ';
  position: absolute;
  top: 3px;
  width: 30px;
  background-color: #FFB577;
  height: 3px;
}


.burger-btn::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  width: 30px;
  background-color: #FFB577;
  height: 3px;


}

.menuitem {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  top: 50px;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.2s;
  margin-top: -50px;
}

.menuitem.active {
  transform: translateY(0);

}

.menuitem__blur {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  position: absolute;

}

.menuitem__main {
  width: 100%;
  height: 100%;
  background-color: #19161B;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.menuitem__header {
  padding: 10px;
  font-size: 24px;
  color: #FFB577;
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
}

.menuitem__main ul li {
  color: wheat;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.menuitem__main ul {
  text-align: center;
}



@media (max-width:1024px) {
  .header__menu {
    margin-left: 0;
    font-size: 15px;
    flex-grow: 1;
    text-align: center;
  }

  .header__menu a {
    padding: 0 15px;
  }

  .first__text {
    margin-right: 20px;
  }

  .first__title {
    font-size: 42px;
    z-index: 0;
  }

  .service__title {
    font-size: 36px;
  }

  .service__info {
    font-size: 14px;
  }

  .item {
    padding: 60px 25px;
  }

  .scheme__title {
    font-size: 42px;

  }

  .scheme__info {
    font-size: 14px;

  }

  .food__name {
    font-size: 16px;
  }

  .food__price {
    font-size: 16px;
  }

  .description__info {
    padding: 0 2.5% 0 5%;
    flex-basis: 50%;
  }

  .description__text {
    font-size: 18px;
    line-height: 36px;
  }

  .description__name {
    font-size: 14px;
  }

  .description__city {
    font-size: 10px;
  }

  .posts__title {
    font-size: 36px;
  }

  .posts__name {
    font-size: 24px;
  }

  .posts__text {
    font-size: 14px;
  }

  .map__info {
    padding: 80px 5.02%;
  }

  .map__name {
    font-size: 16px;
  }

  .map__text {
    font-size: 14px;
  }

  .filters__item {
    font-size: 18px;
  }

  .carteItem__name {
    font-size: 16px;
  }

  .carteItem__price {
    font-size: 16px;
  }

  .carteItem__p {
    font-size: 16px;

  }

  .aboutheader__left {
    flex-basis: 60%;
  }

  .aboutheader__title {
    font-size: 42px;
  }

  .aboutheader__text {
    font-size: 14px;
  }

  .aboutheader__name {
    font-size: 18px;
    min-height: 80px;
  }

  .aboutheader__item:nth-child(2) {
    margin: 0 15px;
  }

  .aboutheader__subdescription {
    font-size: 14px;
    min-height: 56px;
  }

  .aboutheader__description {
    font-size: 14px;
  }

  .aboutbackground__title {
    font-size: 36px;
  }

  .aboutbackground__text {
    font-size: 14px;
  }

  .history {
    padding: 30px;
  }

  .history__title {
    font-size: 24px;
    margin-bottom: 35px;
  }

  .history__year {
    font-size: 26px;
  }

  .history__name {
    font-size: 18px;
  }

  .info__name {
    font-size: 36px;
  }

  .info__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .info__text {
    font-size: 14px;
  }

  .story__title {
    font-size: 42px;
  }

  .blog__img {
    display: none;
  }

  .blog__subtitle {
    font-size: 16px;
  }

  .blog__text {
    font-size: 14px;
  }

  .blog__title {
    font-size: 32px;
    line-height: 42px;
  }

  .blog__name {
    font-size: 14px;
  }

  .blog__data {
    font-size: 12px;
  }

  .blog__link {
    font-size: 12px;
  }

  .blog__link::after {
    display: none;
  }

  .blog__window {
    font-size: 10px;
  }

  .articles__container {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }

  .post__title {
    font-size: 36px;
  }

  .post__text {
    font-size: 24px;
    text-align: center;
  }

  .contact__container {
    justify-content: center;
  }

  .contact__left {
    flex-grow: 1;
  }

  .contact__img2 {
    display: none;
  }

  .contact__img1 {
    display: none;
  }

  .blog__right {
    flex-grow: 1;
  }

  .blog__info {
    padding-left: 0;
  }


}




@media (max-width:768px) {

  .post__btn {
    width: 100px;
  }

  .post__author {
    padding-top: 40px;
  }

  .post__mainimg {
    width: 50%;
  }

  .logo {
    margin: 0px auto;
    background-color: #19161B;
    padding-top: 15px;
  }

  .main__container {
    padding-top: 100px;
  }

  .blog__container {
    flex-direction: column;
  }

  .blog__row {
    margin: 10px 0 30px;
  }

  .blog__item img {
    display: block;
  }

  .blog__right {
    padding-left: 0;
    margin-top: 20px;
  }

  .blog__info {
    padding-left: 25px;
  }

  .aboutheader__container {
    display: block;
    padding-top: 0;
  }

  .aboutheader__img1 {
    display: none;
  }

  .aboutheader__left {
    margin: 0;
  }

  .aboutheader__item {
    text-align: center;
  }

  .aboutheader__name {
    min-height: auto;
  }

  .history__body {
    flex-direction: column;

  }

  .history__item {
    margin: 0;
  }

  .history__item::before {
    display: none;
  }

  .aboutheader__subdescription {
    min-height: auto;
    margin: 15px 0;
  }

  .aboutbackground {
    margin-top: 80px;
  }



  .info {
    padding-top: 80px;
  }

  .carte {
    padding-top: 40px;
  }

  .filters select {
    position: relative;
    width: 230px;
    height: 40px;
    margin: 25px auto;
    background: #FFB577;
    border-radius: 5px;

  }



  .filters option {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;

    border-radius: 5px;
    border: 1px solid #c7ccd1;

    cursor: pointer;
  }

  .select__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    color: #FFFFFF;
    opacity: 0.87;
  }

  .first__container {
    padding: 20px 0 90px;

  }

  .description__container {
    flex-direction: column;
  }

  .description__quotes {
    padding-top: 15px;
  }

  .description__comment {
    padding: 50px 0;
  }

  .posts__title {
    margin: 50px 0;
  }

  .map__body {
    flex-direction: column-reverse;
    width: 90%;
    margin: 0px auto;
  }

  .map__map iframe {
    height: 400px;
  }

  .map__info {
    padding: 40px 2.5%;
  }

  .map__item:nth-child(2) {
    padding: 16px 0;
  }

  .blog__maintitile {
    padding-top: 0;
  }

  .first__container {
    padding-top: 0;
  }

  .menu__container {
    padding-top: 0;
  }

  .contact__container {
    padding-top: 0;
  }
}

@media (max-width:650px) {

  .first__flex {
    flex-direction: column-reverse;
  }

  .first__text {
    margin: 0;
    text-align: center;
    margin-top: 10px;
  }

  .first__subtitle {
    margin-bottom: 20px;
  }

  .first__img img {
    width: 70%;
    margin: 0px auto;
  }

  .ButtonBlackArrow {
    margin: 0px auto;
  }

  .service__grid {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }

  .item {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  }

  .scheme__grid {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    padding-bottom: 40px;
  }

  .carte__container {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    padding-bottom: 40px;
  }

  .filters__item {
    padding: 0 5px;
  }

  .scheme__btn {
    padding-bottom: 40px;
  }

  .posts__body {
    flex-wrap: wrap;
  }

  .posts__item {
    flex: 1 1 33%;

  }

  .posts__item:last-child {
    flex: 0 1 48%;
    margin-top: 10px;
  }

  .story__images {
    display: none;
  }

  .story__container {
    flex-direction: column;
  }

  .story__right {
    padding: 0;
  }

  .story__title {
    text-align: center;
  }

  .story__subtitle {
    padding: 0;
    text-align: center;
  }

  .story__info {
    padding: 0;
  }


}

@media (max-width:539px) {
  .food {
    width: 80%;
  }

  .aboutheader__command {
    flex-direction: column;
  }

  .aboutheader__description {
    padding: 0 30px;
  }

  .aboutheader__item:nth-child(2) {
    margin: 30px 0;
  }

  .aboutbackground {
    padding-top: 80px;
  }

  .aboutbackground__title {
    font-size: 28px;
    line-height: 36px;
  }

  .aboutbackground__text {
    margin-top: 10px;
  }

  .posts__body {
    flex-direction: column;
  }

  .posts__container .posts__item {
    width: 80%;
    margin: 0px auto;
  }

  .posts__item:nth-child(2) {
    margin: 10px auto;
  }

  .footer__menu {
    display: none;
  }

  .footer__social {
    display: none;
  }

  .service__title {
    font-size: 24px;
    line-height: 32px;
  }

  .scheme__title {
    font-size: 24px;
    line-height: 32px;
  }

  .map__info {
    text-align: center;
  }

  .story__name {
    text-align: center;
    font-size: 28px;
  }

  .articlesitem__container {
    flex-direction: column;
  }

  .articlesitem {
    margin: 0px auto;
  }


  .articlesitem__author {
    justify-content: center;
    margin-top: 20px;
  }

  .articlesitem__title {
    margin: 10px auto;
    text-align: center;
  }

  .articlesitem__link {
    display: block;
    text-align: center;
  }

  .articlesitem__link {
    margin: 0px auto;
  }

  .articlesitem__img {
    margin: 0px auto;
  }

  .articles__container {
    grid-template-columns: auto;
  }

  .articles__title {
    margin-top: 80px;
  }

  .footer__container {
    padding-top: 50px;
  }

  .blog__item {
    flex-direction: column;
  }

  .blog__img {
    margin: 0px auto;
  }

  .blog__subtitle {
    text-align: center;
  }

  .blog__text {
    text-align: center;
  }

  .blog__info {
    padding-left: 0;
  }

  .contact__container {
    display: block;
    padding: 0 0 80px;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  .contact__title {
    font-size: 36px;
  }

  .contact__submit {
    display: block;
    margin: 50px auto 0;
  }
  .post__text {
    width: 100%; 
  }

}


@media (max-width:380px) {

  .post__mainimg {
    width: 100%;
  }

  .burger-btn {
    margin-left: 5px;
  }

  .burger-btn span {
    width: 25px;
  }

  .burger-btn::after {
    width: 25px;

  }

  .burger-btn::before {
    width: 25px;

  }

  .blog__window {
    font-size: 8px;
  }

  .first__title {
    font-size: 32px;
    line-height: 48px
  }

  .service__text {
    flex-direction: column;
  }

  .service__title {
    margin-bottom: 20px;
  }

  .scheme__text {
    flex-direction: column;
  }

  .scheme__title {
    margin-bottom: 20px;
  }

  .food {
    width: 100%;
  }

  .posts__item {
    width: 100% !important;
  }

  .map__body {
    width: 100%;
  }

  .map__info {
    text-align: center;
  }

  .info {
    flex-direction: column;
  }

  .item {
    padding: 30px 25px;
  }

}